<div class="container">
  <div class="text-center form-header p-5">
    <h1>Update your gym listing</h1>
  </div>
  <div class="signup-container">
    <div class="large-form-container">
      <%= simple_form_for @gym do |f| %>
        <div class="form-inputs">
          <%= f.input :name, autofocus: true %>
          <%= f.input :address %>
          <%= f.input :category, collection: Gym::CATEGORIES%>
          <%= f.input :price_per_hour %>
          <%= f.input :capacity %>
          <%= f.input :description, :input_html => { :rows => 5 }%>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, 'Update gym listing', class:"primary-button w-100 mb-3" %>
          <%= link_to "Cancel", :back, class:"secondary-button mb-3 w-100 text-center", style:"display: inline-block"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="m-3">
  <%= link_to " < Back to Home Page", gyms_path, class:"light-text" %>
</div>
