<div class="container">
  <div class="text-center form-header p-5">
    <h1>Create a new gym listing</h1>
  </div>
  <div class="signup-container">
    <div class="large-form-container">
      <%= simple_form_for @gym do |f| %>
        <div class="form-inputs">
          <%= f.input :name, autofocus: true %>
          <%= f.input :address %>
          <%= f.input :category %>
          <%= f.input :price_per_hour %>
          <%= f.input :capacity %>
          <%= f.input :description, :input_html => { :rows => 5 }%>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, 'Create gym listing', class:"primary-button w-100 mb-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="m-3">
  <%= link_to " < Back to Home Page", gyms_path, class:"light-text" %>
</div>
