<%# INDEX NAV %>
<%= render "components/page_nav" %>


<%# @gym.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%#= cl_image_tag photo.key %>
<%# end %>

<p class="gyms-link"><%= link_to "<- Back to gyms", gyms_path, class: "nav-link"  %></p>

<div class="container">
  <div class="show-header">
    <h1><%= @gym.name %></h1>
    <div class="show-content-container d-flex">
      <p><%= @gym.address %></p>
      <% if current_user.id == @gym.user_id %>
        <p> <%= link_to "edit", edit_gym_path(params[:id]), class: "secondary-button" %></p>
      <% end %>
    </div>
  </div>
  <%# SHOW CARD - play with container %>
  <div class="large-card">
    <div class="d-flex">
      <div class="w-50" id="big-img">
        <%= cl_image_tag @gym.photos.first.key, class:"w-100" %>
      </div>
      <div class="w-50" id="multi-img">
        <div class="grid">
          <%= cl_image_tag @gym.photos.second.key, alt: "text", class: "top-left secondary-img"  %>
          <%= cl_image_tag @gym.photos.third.key, alt: "text", class: "top-right secondary-img" %>
          <%= cl_image_tag @gym.photos.fourth.key, alt: "text", class: "bottom-left secondary-img" %>
          <%= cl_image_tag @gym.photos.fifth.key, alt: "text", class: "bottom-right secondary-img" %>
        </div>
      </div>
    </div>
  </div>
  <div class="show-category">
    <p><%= @gym.category %><span>|</span>Capacity: <%= @gym.capacity %></p>
  </div>
  <div class="show-content-container d-flex">
    <div class="show-title w-60">
      <h3>Gym owner - <%= @gym.user.first_name %></h3>
      <p><%= @gym.description %></p>
    </div>
    <div class="booking-form w-40">
      <div class="signup-container-booking">
        <div class="large-form-container-booking">
          <%= simple_form_for [@gym, @booking] do |f| %>
            <div class="form-inputs">
              <%= f.input :date, as: :date, html5: true %>
              <%= f.input :start_time, minute_step: 15 %>
              <%= f.input :end_time, minute_step: 15 %>
              <%= f.input :clients, label: "Number of people attending", placeholder: "Maximum #{@gym.capacity}", input_html: { min: '0', max: @gym.capacity} %>
              <%= f.error :duration, id:'invalid-feedback' %>
              <%= f.button :submit, 'Book now', class:"primary-button w-100 mb-3 book-now" %>
              <div class="price">
                <p>Total price</p>
                <%= @booking.total_price.nil? ? "$0" : "$#{@booking.total_price}" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
