<h1> <%= @gym.name %> </h1>

<p> <%= link_to "Home Page", gyms_path %> </p>

<p><%= @gym.description %></p>
<p>Address: <%= @gym.address %></p>
<ul>
  <li>Price per hour $<%= @gym.price_per_hour %></li>
  <li>Category: <%= @gym.category %></li>
  <li>Capcity: <%= @gym.capacity %></li>
</ul>

<button>Book this gym</button>
